.flash-box
  .wrapper
    = render 'messages/index'
    .chat-main
      .main-header
        .current-group{data:{group_id: "1804"}}
          .current-group__name aaa
          .member-list
            Member：
            .member-list__member makishi
        = link_to 'edit' do
          .main-header__edit-btn Edit
      .messages
        .message{data:{message_id: "4483"}}
          .upper-info
            .upper-info__user makishi
            .upper-info__date 2019/07/06(Sat) 16:52:00
          .message__text test
      .form
        %form#new_message.new-message{accept:{charset: "UTF-8"}, action:  "/groups/1804/messages", enctype: "multipart/form-data", method: "post"}
          %input.input-text{name: "utf8", type: "hidden", value: "✓"}/
          %input{name: "authenticity_token", type: "hidden", value: "GPsTZd/UWwJO+3ar1msZam5yv95dWKFBptXZ58iQ+LjHkdb4tMsTmOJ1g8KlRBKTvkJ1Bk+JiiqMbIPqoQ5WbA=="}/
          .input-box
            %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
            %label.image-label{for: "message_image"}
              %i.fa.fa-image
              %input#message_image.image-label__input{name: "message[image]", type: "file"}/
          %input.new-message__submit-btn{data:{"disable-with": "Send"}, name: "commit", type: "submit", value: "Send"}/
